<app-menu></app-menu>
<app-encabezado></app-encabezado>
<section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Acerca de</h2>
            <p class="mb-4">DataNetIA, sitio web elaborado por William Álvarez y José Olascuaga, estudiantes de IX Semestre del programa de Ingenieria de Sistemas y Computación.</p>
            <p>Corporación Universitaria Latinoamericana - CUL.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="../../../assets/img/ac3.jpg" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="../../../assets/img/ac1.jpg" alt="office content 2">
        </div>
    </div>
</section>

<app-footer></app-footer>